---
import Layout from '../layouts/Layout.astro';
import ListCard from '../components/ListCard.astro';
---

<Layout title="Welcome to Astro.">
	<main class="" >
		<h1 class="my-[30px] text-center text-white font-bold text-[30px]" >Fun With API</h1>
		<ListCard />
	</main>
</Layout>


