---
import Layout from '../layouts/Layout.astro';
import ListCard from '../components/react/ListCard';
import '../styles/globals.css'
---

<Layout title="Welcome to Astro.">
	<main class="" >
		
		<ListCard />
	</main>
</Layout>


