---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<a href={href} class="block bg-sky-500 h-[400px] w-[300px] rounded-xl">
	<div class="h-full flex justify-center items-center" >
		<!-- <h2>
			{title}
			<span>&rarr;</span>
		</h2> -->
		<h1>
			{title}
		</h1>
	</div>
</a>
