---
import Card from "./Card.astro"
---

<div class="max-w-[1420px] mx-auto flex justify-center items-center mt-[20px]" >
    <Card title="Simple Movie List" href="https://simple-movie-list-neon.vercel.app/" />
</div>


